@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
    font-family: "JetBrains Mono", monospace;
    font-weight: 100;
    text-align: center;
    color: white;
    margin: none;
}

img{
    height: 53vh;
    width: 53vh;
    margin-top: 55px;
    border-radius: 50%;
    object-fit:cover;
    max-width: 100%;
}

body {
    background-color: black;
    place-items: center;
}

button{
    margin-top: 5px;
    letter-spacing: 1.3px;
    padding: 8px 15px 8px 15px; 
    font-size: 16px;
    background-color: #1a1a1a;
    border-radius: 8px;
    border:1px solid;
    border-color: transparent;
    cursor:pointer;
    position: relative;
    /*aqui digo que cuando el boton se transforme, ya sea con un hover, pues haga estas animaciones*/
    transition: transform 0.3s ease-in-out, border-color 0.4s;
}

/*cuando pase el mouse por encima sera el cambio de posicion y color cuando pase el evento*/
button:hover{
    transform: translateY(-8px);
    border-color: #fff;
}

#Plataformas{
    color: gray;
    margin-top: 25px;
}

#Cualidades{
    margin-top: 20px;
}

h1{
    font-size: 43px;
    margin-bottom: 0%;
    letter-spacing: 2px;
}

#notificacion-portapapeles{
    margin-top: 35px;
    background-color: #1a1a1a;
    background-position: center;
    padding: 17px;
    border: 2px solid;
    border-color: white;
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* Initial hidden state */
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.3s ease-in-out, transform 0.7s ease-in-out;
    pointer-events: none; /* Prevent interaction when hidden */
}

/* Show the notification box when it has content */
#notificacion-portapapeles.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto; /* Enable interaction when visible */
}

/*ahora con javascript vamos hacer que cuando #email:active tranform: position:static de .notificacion-portapapeles, vamos hacer que la notificacion no exista ahsta que email este active*/


@media (prefers-color-scheme: light) {
    body {
        background-color:#fff
    }

    * {
        color: black;
    }

    button {
        background-color:#f9f9f9
    }

    button:hover {
        border-color: black;
    }
}

@media (max-width:600px){
    img{
        height: 33vh;
        width: 75%;
        border-radius: 70%;
    }
}
